matplotlib==3.6.0
nltk==3.7
numpy==1.23.2
openai==0.27.8
pandas==2.0.2
scikit-learn==1.1.3
scipy==1.9.3
sentencepiece==0.1.98
sklearn==0.0
spacy==3.3.0
spacy-alignments==0.8.5
spacy-legacy==3.0.12
spacy-loggers==1.0.3
spacy-transformers==1.1.7
torch==1.12.1
torchmetrics==0.9.3
torchvision==0.13.1
tqdm==4.64.1
transformers==4.11.3